:root{
    --main-color:#624bff;
    --text-color:#212b36;
}

body{
    background-color: #f1f5f9;
    color:var(--text-color);

}

.loginForm{
    background-color:#fff;
    max-width: 400px;
    margin:auto;
    margin-top: 200px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.login__title{
    color: var(--main-color);
    font-size: 28px;
    margin-top: 0;
}
.form{
    padding: 20px;
}

.login__email,.login__password{
    margin:20px 0 8px;
}

#email,#password{
    width: 100%;
    padding:8px 0;
    outline:none;
    text-indent: 12px;
}

#checkbox{
    margin:12px 0 0;
}

.login__remember{
    display: inline;
}

.login__btn{
    background-color: var(--main-color);
    color:#fff;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding:8px 0;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}

a{
    text-decoration: none;
    color:var(--main-color);
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 20px;
}

.login__forgot{
    display: inline-block;
    float: right;
}